*, *::after, *::before{
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin:0;
  background: black;
  color: #f1f1f1;
  scroll-behavior: smooth;
  font-family: 'Titillium Web', sans-serif;
}

.navbar{
    position: STICKY;
    top: 0;
    width: 100svw;
    background: black;
    color: #f1f1f1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
  height: 4rem;
  margin: 1rem; 
}

.navbar-links ul{
    margin: 0;
    padding:0;
    display: flex;
}

.navbar-links li{
    list-style:none;
    border: 2px solid black;  
}

.navbar-links li a{
    text-decoration: none;
    color: #f1f1f1;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    color:#cccccc;
    border: 2px solid #f1f1f1;
    border-radius: 2px;   
    transition: 500ms ease-in-out; 
}

.toggle-button {
    /* position: absolute; */
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
}

@media (max-width:600px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
    }

}


.background{
    position: absolute;
    Height: 100%;
    Width: 100%;
    object-fit : cover;
    transform: translateZ(-10px) scale(2);
    z-index:-1;
}

.background{
    transform: translateZ(-10px) scale(2);
}





/* Parallax effect*/

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}

.hero-section{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.hero-logo{
    filter: drop-shadow(0 0 5px black);
    width: 80vw;
    max-height: 30vh;
}

section{
    min-height: 80vh;
}

.section-dark{
    background: black;
}





